/****** Modal Login with jQuery Effects ******/

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

#login_reg {
    max-width: 500px;
    margin: 32px auto;
}

#login_reg input {
    margin: 0px;
}

.login-footer > div > button, reg-footer > div > button {
    margin-top: 32px;
}

.login-footer button, .reg-footer button {
    max-width: 200px;
    margin: auto;
}
